<div class="card">
    <div class="card-body">

        <h2 class="mt-3 text-center">Set Password</h2>
        <p class="text-center">Masukan password baru untuk akun anda</p>

        <form class="mt-4" id="form_setPassword">
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="text-dark" for="Password">Password</label>
                    <input class="form-control" id="Password" type="password" placeholder="Masukan password baru"
                        name="Password">

                    <ul id="password-rules" class="text-danger list-unstyled" style="display:none;">
                        <li id="minlength-rule" style="display: none;">Panjang Password minimal 8 karakter</li>
                        <li id="uppercase-rule" style="display: none;">Password harus mengandung minimal 1 huruf kapital
                        </li>
                        <li id="lowercase-rule" style="display: none;">Password harus mengandung minimal 1 huruf kecil
                        </li>
                        <li id="number-rule" style="display: none;">Password harus mengandung minimal 1 angka</li>
                        <li id="specialchar-rule" style="display: none;">Password harus mengandung minimal 1 karakter
                            khusus</li>
                    </ul>
                    <span class="text-danger" id="Password-error"></span>
                    <span id="validate_password" class="text-danger"></span>

                    @* <span class="text-danger" id="validate_password"></span> *@
                </div>
            </div>

            <div class="col-lg-12">
                <div class="form-group">
                    <label class="text-dark" for="ConfirmPassword">Masukan Ulang Password</label>
                    <input class="form-control" id="ConfirmPassword" type="password"
                        placeholder="Masukan ulang password" name="ConfirmPassword">
                    <span class="text-danger" id="validate_confirm_password"></span>
                </div>
            </div>

            <div class="col-lg-12 text-center mt-5">
                <button type="submit" class="btn btn-block btn-dark">Set Password</button>
            </div>
        </form>

    </div>
</div>

<script>
    // Global variable to store the dynamic error message
    var dynamicMessage = "";

    @* $.validator.addMethod("strong_password", function (value, element) {
        let password = value;

        // Check if password length is between 8 and 20 characters
        if (!/^.{8,20}$/.test(password)) {
            dynamicMessage = "Password minimal 8 & maksimal 20 karakter";
        return false;
        }

        // Check if password contains at least one uppercase letter
        if (!/[A-Z]/.test(password)) {
            dynamicMessage = "Password minimal harus mengandung 1 huruf kapital";
        return false;
        }

        // Check if password contains at least one lowercase letter
        if (!/[a-z]/.test(password)) {
            dynamicMessage = "Password minimal harus mengandung 1 huruf kecil";
        return false;
        }

        // Check if password contains at least one numeric character
        if (!/[0-9]/.test(password)) {
            dynamicMessage = "Password minimal harus mengandung 1 angka";
        return false;
        }

        // Check if password contains at least one special character @@#$%&
        if (!/[^a-zA-Z0-9]/.test(password)) {
            dynamicMessage = "Password minimal harus mengandung 1 spesial karakter(@@#$%&).";
        return false;
        }

        // If all conditions pass, reset dynamic message and return true
        dynamicMessage = "";
        return true;
        }, function () {
        // Return the dynamic error message
        return dynamicMessage;
        }); *@

        // Menambahkan validasi untuk input password tidak boleh hanya berisi spasi di depan atau di belakang
        $.validator.addMethod("no_space_at_ends", function (value, element) {
            return $.trim(value).length === value.length && value !== ""; // Pastikan tidak ada spasi di depan atau di belakang dan tidak kosong
        });

    $.validator.addMethod("strong_password", function (value, element) {
        let password = $.trim(value);
        // Validasi password lengkap
        let valid = true;

        // Hide all rules initially
        $("#minlength-rule").hide();
        $("#uppercase-rule").hide();
        $("#lowercase-rule").hide();
        $("#number-rule").hide();
        $("#specialchar-rule").hide();

        // Validasi panjang password
        if (password.length < 8) {
            $("#minlength-rule").show();
            valid = false;
        }

        // Validasi huruf kecil
        if (!/[a-z]/.test(password)) {
            $("#lowercase-rule").show();
            valid = false;
        }

        // Validasi huruf kapital
        if (!/[A-Z]/.test(password)) {
            $("#uppercase-rule").show();
            valid = false;
        }

        // Validasi angka
        if (!/[0-9]/.test(password)) {
            $("#number-rule").show();
            valid = false;
        }

        // Validasi karakter spesial
        if (!/[^\w\s]/.test(password)) {
            $("#specialchar-rule").show();
            valid = false;
        }

        return valid;
    });

    $("#form_setPassword").validate({
        errorClass: "is-invalid text-danger",
        rules: {
            Password: {
                required: true,
                strong_password: true,
            },
            ConfirmPassword: {
                required: true,
                equalTo: "#Password",
            }
        },
        messages: {
            Password: {
                required: "Password is required.",
                strong_password: "",
                no_space_at_ends: ""
            },
            ConfirmPassword: {
                required: "Password is required.",
                equalTo: "Passwords do not match."
            }
        },
        submitHandler: function () {
            var password = $("#Password").val()

            $("#modal_body").load("/Register/FormRegisterProfile", { password })
            $("#my_modal").modal("show")
        },
    })

    $("#Password").on('input', function () {

        // Kosongkan pesan error dan pesan validasi sebelumnya
        $("#Password-error").text('');
        $("#validate_password").text('');

        // Pastikan tidak ada spasi di depan atau di belakang
        if ($.trim($(this).val()) !== $(this).val()) {
            $("#Password-error").text("Password tidak boleh memiliki spasi di depan atau di belakang.");
            // Menghentikan validasi lebih lanjut jika ada error
            return; // Keluar dari fungsi jika ada error
        }

        // Tampilkan aturan password
        $("#password-rules").show();

        // Validasi ini akan memanggil aturan
        $("#form_setPassword").validate().element(this);
    });

    // Menambahkan validasi untuk input password tidak boleh hanya berisi spasi di depan atau di belakang
    $.validator.addMethod("no_space_at_ends", function (value, element) {
        return $.trim(value).length === value.length && value !== ""; // Pastikan tidak ada spasi di depan atau di belakang dan tidak kosong
    });
</script>