@{
    ViewData["Title"] = "Lupa Password";
}
<form asp-action="Reset" method="post" id="form_input">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Lupa Kata Sandi</h4>
        </div>
        <div class="card-body">

            <div class="form-group">
                <label for="email2">Email : </label>
                <input type="email" class="form-control" id="email" name="email" placeholder="contoh@mail.com">
                <span id="validate_EmailUser" class="text-danger"></span>
                <small id="emailHelp2" class="form-text text-muted d-block">
                    Masukkan email Anda, Kami akan melakukkan pengecekan.
                </small>
            </div>

        </div>
        <div class="card-action d-flex flex-column justify-content-center gap-lg-3    ">
            <button type="submit" class="btn btn-black align-self-center">Kirim OTP</button>
            <a class="btn btn-ligth fw-bold align-self-center" asp-controller="MHakAkses" asp-action="Index">Batal</a>
        </div>
    </div>
</form>

<script>
    $("#form_input").validate({
        errorClass: "is-invalid text-danger",
        rules: {
            email: {
                required: true,
                email: true
            }
        },
        messages: {
            email: {
                required: "Masukkan alamat email!",
                email : "Masukkan alamat email yang valid!"
            }
        },
        submitHandler: function (form) {
            var email = $("#email").val()

            $.ajax({
                url: '/AuthResetPW/CheckEmailIsRegistered',
                type: 'get',
                data: { email: email },
                datatype: 'json',
                success: function (response) {
                    if (response) {
                        $("#modal_body").empty()
                        $("#modal_body").load("/AuthResetPW/InputOTP")
                        $("#my_modal").modal("show")
                    } else {
                        $("#validate_EmailUser").empty().text(`Email Tidak Ditemukan`)
                        return true
                    }

                }, error: function (response) {
                    console.log(response)
                }

            })

        }
    })
</script>
