@{
    ViewData["Title"] = "Lupa Password";
}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Kode OTP</h4>
    </div>
    <div class="card-body">

        <div class="form-group">
            <label for="otp">Kode OTP : </label>
            <input type="number" class="form-control" id="otp" name="otp" placeholder="123456">
            <span id="validate_OTP" class="text-danger"></span>
            <small id="emailHelp2" class="form-text text-muted d-block">
                Masukkan kode OTP yang dikirimkan ke email Anda!
                
            </small>
        </div>
        <div class="form-group d-flex align-content-center">
            <button type="" id="btn_sendOTP" class="btn btn-light border-0">
                Kirim ulang kode OTP
                <div id="countdown" class="d-inline" style="display: none;"></div>
            </button>
        </div>

    </div>
    <div class="card-action">
        <button type="submit" class="btn btn-black">
            Korfimasi OTP
        </button>
        <a class="btn btn-ligth fw-bold" asp-controller="Auth" asp-action="Login">Batal</a>
    </div>
</div>

<script>

    function formatTime(seconds) {
        const minutes = Math.floor(seconds / 60);
        const remainingSeconds = seconds % 60;

        // Pad with leading zeros if needed
        return `${minutes}:${remainingSeconds < 10 ? '0' : ''}${remainingSeconds}`;
    }


    $("#btn_sendOTP").on('click', function () {
        // Disable the button
        $(this).prop('disabled', true);

        // Set countdown time in seconds
        var countdownTime = 90; // 30 seconds
        var countdownDisplay = $('#countdown');

        // Show countdown
        countdownDisplay.show();

        // Start the countdown
        var interval = setInterval(function () {
            countdownDisplay.text(formatTime(countdownTime));
            countdownTime--;

            // If countdown reaches 0, enable the button again
            if (countdownTime < 0) {
                clearInterval(interval);
                $('#btn_sendOTP').prop('disabled', false);
                countdownDisplay.hide(); // Hide countdown display
            }
        }, 1000); // Update every second
    });


    $("#form_input").validate({
        errorClass: "is-invalid text-danger",
        rules: {
            email: {
                required: true,
                email: true
            }
        },
        messages: {
            email: {
                required: "Masukkan alamat email!",
                email : "Masukkan alamat email yang valid!"
            }
        },
        submitHandler: function (form) {
            var email = $("#email").val()

            $.ajax({
                url: '/AuthResetPW/CheckEmailIsRegistered',
                type: 'get',
                data: { email: email },
                datatype: 'json',
                success: function (response) {
                    if (response) {
                        $("#modal_body").empty()
                        $("#modal_body").load("/AuthResetPW/InputOTP")
                        $("#my_modal").modal("show")
                    } else {
                        $("#validate_OTP").empty().text(`Email Tidak Ditemukan`)
                        return true
                    }

                }, error: function (response) {
                    console.log(response)
                }

            })

        }
    })
</script>
