@{
    var idUser = Context.Session.GetInt32("IdUser");
}

@{

    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<script>
    var idUser = "@idUser"

    if (idUser == "") {
        $(".sidebar").css("display", "none");
        $(".sidebar").css("width", "0");
        $(".main-header").attr("style", "width: 100% !important;");
        $(".main-panel").attr("style", "width: 100% !important;");
    }
</script>