@using Med_341A.datamodels
@model MRole
@{
    ViewData["Title"] = "Tambah Role";
}
<form asp-action="Add" method="post" id="form_add" >
    <div class="card">
	    <div class="card-header">
            <h4 class="card-title">Tambah Role</h4>
	    </div>
	    <div class="card-body">
            <div class="form-group form-group-default">
                <label>Nama Role</label>
                <input id="name" name="name" type="text" class="form-control bg-secondary border-bottom-1 " placeholder="Isi nama role">
            </div>

            <div class="form-group form-group-default">
                <label>Kode Role</label>
                <input id="code" name="code" type="text" class="form-control bg-secondary border-bottom-1" placeholder="Isi kode">
            </div>
	    </div>
        <div class="card-action d-flex justify-content-end gap-2    ">
            <a class="btn btn-ligth fw-bold" asp-controller="Role" asp-action="Index"> Batal</a>
            <button type="submit" class="btn btn-info">Simpan</button>
        </div>
    </div>
</form>

<script>
    $("#form_add").validate({
        errorClass: "is-invalid text-danger",
        rules: {
            name: {
                required: true,
            },
            code: "required",
        },
        messages: {
            name: {
                required: "Masukkan nama role",
            },
            code: "Masukkan kode role"
        },
        submitHandler: function (form) {
            var dataForm = $(form).serialize()


            $.ajax({
                url: '/Role/Add',
                type: 'post',
                data: dataForm,
                datatype: 'json',
                success: function (response) {
                    var data = response.dataResponse
                    if (data.success) {
                        $("#my_modal").modal("hide")
                        swal({
                            title: "Success!",
                            text : data.message,
                            buttons: {
                                confirm: {
                                    className: "btn btn-success",
                                },
                            },
                        }).then((value) => {
                            // This callback runs when the user clicks the confirm button
                            window.location.reload();
                        });

                    } else {
                        swal({
                            icon: "error",
                            title: 'Warning!',
                            text: data.message
                        })
                    }

                }, error: function (response) {
                    console.log(response)
                }

            })

        }
    })
</script>
