@using Med_341A.viewmodels
@model VMUser

<div class="card">
    <div class="card-body">
        <div class="h4 mb-4">Masukkan Password Anda Saat Ini</div>
        <form asp-action="UbahPassword" method="post" id="form_ubahpwlama">
            <input type="hidden" name="id" id="id" value="@Model.Id" />
            <input type="hidden" name="Email" id="Email" value="@Model.Email" />
            <!-- Password Lama -->
            <div class="form-group">
                <label for="Password" class="form-label">Password*</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="Password" name="Password" placeholder="Masukkan password anda...">
                    <span class="input-group-text toggle-password" data-target="#Password">
                        <i class="fas fa-eye"></i>
                    </span>
                </div>
                <span class="text-danger" id="Password-error"></span>
                <span id="validate_password" class="text-danger"></span>
            </div>

            <!-- Re Type Password Lama -->
            <div class="form-group">
                <label for="re_password" class="form-label">Masukkan ulang password*</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="re_password" name="re_password" placeholder="Masukkan ulang password anda...">
                    <span class="input-group-text toggle-password" data-target="#re_password">
                        <i class="fas fa-eye"></i>
                    </span>
                </div>
                <span class="text-danger" id="re-password-error"></span>
            </div>
            <!-- Buttons -->
            <div class="d-flex justify-content-between mt-4">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Batal</button>
                <button type="submit" class="btn btn-primary">Ubah Password</button>
            </div>
        </form>
    </div>
</div>

<script>
    $(".toggle-password").on('click', function () {
        const targetInput = $(this).data('target');
        const inputField = $(targetInput);
        const icon = $(this).find('i');

        if (inputField.attr('type') === 'password') {
            inputField.prop('type', 'text');
            icon.removeClass("fa-eye").addClass("fa-eye-slash");
        } else {
            inputField.prop('type', 'password');
            icon.removeClass("fa-eye-slash").addClass("fa-eye");
        }
    });

    $("#form_ubahpwlama").validate({
        errorClass: "is-invalid text-danger",
        rules: {
            Password: {
                required: true
            },
            re_password: {
                equalTo: "#Password",
                required: true
            }
        },
        messages: {
            Password: {
                required: "Password harus diisi",
            },
            re_password: {
                equalTo: "Password ulang tidak sama",
                required: "Password ulang harus diisi"
            },
        },
        errorPlacement: function (error, element) {
            // Tempatkan pesan validasi di bawah elemen input yang sesuai
            error.appendTo(element.parent().next('span'));
        },
        submitHandler: function (form) {
            var dataForm = $(form).serialize()
            var email = $("#Email").val()
            var password = $("#Password").val()
            var id = $("#id").val()

            $.ajax({
                url: "/UserProfil/CheckPassword",
                type: "get",
                data: { email: email, password: password },
                dataType: "json",
                success: function (respon) {
                    if (respon) {
                        $("#modal_body").load("/UserProfil/UbahPasswordBaru", { id })
                        $("#my_modal").modal("show")
                    }
                    else {
                        $("#validate_password").text("Password yang anda masukkan salah")
                        return true
                    }
                }
            })
        }
    })
</script>
