@using Med_341A.viewmodels
@model VMUser

<div class="card">
    <div class="card-body">
        <div class="h4 mb-4">Masukkan Password Baru</div>
        <form asp-action="UbahPasswordBaru" method="post" id="form_ubahpwbaru">
            <input type="hidden" name="id" id="id" value="@Model.Id" />
            <input type="hidden" name="Email" id="Email" value="@Model.Email" />
            <!-- Password Baru -->
            <div class="form-group">
                <label for="Password" class="form-label">Password*</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="Password" name="Password" placeholder="Masukkan password anda...">
                    <span class="input-group-text toggle-password" data-target="#Password">
                        <i class="fas fa-eye"></i>
                    </span>
                </div>
                <ul id="password-rules" class="text-danger list-unstyled" style="display:none;">
                    <li id="minlength-rule" style="display: none;">Panjang Password minimal 8 karakter</li>
                    <li id="uppercase-rule" style="display: none;">Password harus mengandung minimal 1 huruf kapital</li>
                    <li id="lowercase-rule" style="display: none;">Password harus mengandung minimal 1 huruf kecil</li>
                    <li id="number-rule" style="display: none;">Password harus mengandung minimal 1 angka</li>
                    <li id="specialchar-rule" style="display: none;">Password harus mengandung minimal 1 karakter khusus</li>
                </ul>
                <span class="text-danger" id="Password-error"></span>
                <span id="validate_password" class="text-danger"></span>
            </div>

            <!-- Re Type Password Baru -->
            <div class="form-group">
                <label for="re_password" class="form-label">Masukkan ulang password*</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="re_password" name="re_password" placeholder="Masukkan ulang password anda...">
                    <span class="input-group-text toggle-password" data-target="#re_password">
                        <i class="fas fa-eye"></i>
                    </span>
                </div>
                <span class="text-danger" id="re-password-error"></span>
            </div>
            <!-- Buttons -->
            <div class="d-flex justify-content-between mt-4">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Batal</button>
                <button type="submit" class="btn btn-primary" id="btn_submit">Ubah Password</button>
            </div>
        </form>
    </div>
</div>

<script>
    //Toggle password visibility password
    $(".toggle-password").on('click', function () {
        const targetInput = $(this).data('target');
        const inputField = $(targetInput);
        const icon = $(this).find('i');

        if (inputField.attr('type') === 'password') {
            inputField.prop('type', 'text');
            icon.removeClass("fa-eye").addClass("fa-eye-slash");
        } else {
            inputField.prop('type', 'password');
            icon.removeClass("fa-eye-slash").addClass("fa-eye");
        }
    });

    // Menambahkan validasi untuk input password tidak boleh hanya berisi spasi di depan atau di belakang
    $.validator.addMethod("no_space_at_ends", function (value, element) {
        return $.trim(value).length === value.length && value !== ""; // Pastikan tidak ada spasi di depan atau di belakang dan tidak kosong
    });

    $.validator.addMethod("strong_password", function (value, element) {
        let password = $.trim(value);
        // Validasi password lengkap
        let valid = true;

        // Hide all rules initially
        $("#minlength-rule").hide();
        $("#uppercase-rule").hide();
        $("#lowercase-rule").hide();
        $("#number-rule").hide();
        $("#specialchar-rule").hide();

        // Validasi panjang password
        if (password.length < 8) {
            $("#minlength-rule").show();
            valid = false;
        }

        // Validasi huruf kecil
        if (!/[a-z]/.test(password)) {
            $("#lowercase-rule").show();
            valid = false;
        }

        // Validasi huruf kapital
        if (!/[A-Z]/.test(password)) {
            $("#uppercase-rule").show();
            valid = false;
        }

        // Validasi angka
        if (!/[0-9]/.test(password)) {
            $("#number-rule").show();
            valid = false;
        }

        // Validasi karakter spesial
        if (!/[^\w\s]/.test(password)) {
            $("#specialchar-rule").show();
            valid = false;
        }

        return valid;
    });

    //form validation
    $("#form_ubahpwbaru").validate({
        errorClass: "is-invalid text-danger",
        rules: {
            Password: {
                required: true,
                strong_password: true,
                no_space_at_ends: true
            },
            re_password: {
                equalTo: "#Password",
                required: true
            }
        },
        messages: {
            Password: {
                required: "Password harus diisi",
                strong_password: "",
                no_space_at_ends: ""
            },
            re_password: {
                equalTo: "Password ulang tidak sama",
                required: "Password ulang harus diisi"
            },
        },
        errorPlacement: function (error, element) {
            error.appendTo(element.closest('.form-group').find('span.text-danger').first());
        },
        submitHandler: function (form) {
            var dataForm = $(form).serialize()
            var email = $("#Email").val()
            var password = $("#Password").val()

            $("#btn_submit").prop("disabled", true);
            buttonOnLoading("#btn_submit", "Mengirim Password...")

            $.ajax({
                url: "/UserProfil/CheckPassword",
                type: "get",
                data: { email: email, password: password },
                dataType: "json",
                success: function (respon) {
                    if (respon) {
                        $("#validate_password").text("Password yang anda massukkan sama seperti sebelumnya")
                        $("#btn_submit").prop("disabled", false);
                        buttonOnFinish("#btn_submit", "Ubah Password")
                        return true
                    }
                    else {
                        funcSubmit(dataForm)
                    }
                },
                error: function (xhr, status, error) {
                    // Penanganan kesalahan saat request gagal
                    console.log(`Error: ${status} - ${error}`);
                    $("#validate_password").text("Terjadi kesalahan saat mengirim password. Silakan coba lagi.");
                    $("#btn_submit").prop("disabled", false);
                }
            })
        }
    })

    $("#Password").on('input', function () {

        // Kosongkan pesan error dan pesan validasi sebelumnya
        $("#Password-error").text('');
        $("#validate_password").text('');

        // Pastikan tidak ada spasi di depan atau di belakang
        if ($.trim($(this).val()) !== $(this).val()) {
            $("#Password-error").text("Password tidak boleh memiliki spasi di depan atau di belakang.");
            // Menghentikan validasi lebih lanjut jika ada error
            return; // Keluar dari fungsi jika ada error
        }

        // Tampilkan aturan password
        $("#password-rules").show();

        // Validasi ini akan memanggil aturan
        $("#form_ubahpwbaru").validate().element(this);
    });


    $("#re_password").on('input', function () {
        $("#re-password-error").text(''); // Kosongkan pesan error saat mengetik ulang
    });

    function funcSubmit(dataParam) {
        $.ajax({
            url: '/UserProfil/UpdatePassword',
            type: "post",
            data: dataParam,
            dataType: "json",
            success: function (respon) {
                var data = respon.dataRespon

                if (data.success) {
                    $("#my_modal").modal("hide")
                    swal(
                        "Success",
                        data.message, {
                        icon: "success",
                        buttons: {
                            confirm: {
                                className: "btn btn-success",
                            },
                        },
                    }
                    ).then((clickconfirm) => {
                        if (clickconfirm) {
                            window.location.href = "/Home";
                        }
                    })
                }
                else {
                    $("#my_modal").modal("hide")
                    swal(
                        "Failed",
                        data.message, {
                        icon: "error",
                        buttons: {
                            confirm: {
                                className: "btn btn-danger",
                            },
                        },
                    }
                    ).then((clickconfirm) => {
                        if (clickconfirm) {
                            $("#my_modal").modal("show")
                        }
                    })
                }
            }
        })
    }
</script>
