@using Med_341A.viewmodels
@model VMUser

<div class="card">
    <div class="card-body">
        <div class="h4 mb-4">Masukkan Email Baru</div>
        <form asp-action="UbahEmail" method="post" id="form_email">
            <input type="hidden" name="id" id="id" value="@Model.Id" />
            <!-- Ubah Email -->
            <div class="mb-4 row">
                <label for="EmailBaru" class="col-sm-4 col-form-label">Email*</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" id="EmailBaru" name="EmailBaru" pattern="^[a-zA-Z0-9._%+-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                           title="Masukkan email yang valid dengan format yang benar (contoh: user@example.com)" placeholder="Masukkan email baru...">
                    <div class="text-danger" id="validate_email"></div>
                </div>
            </div>
            <div class="d-flex justify-content-between mt-4">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Batal</button>
                <button type="submit" class="btn btn-primary" id="btn_submit">Ubah Email</button>
            </div>
        </form>
    </div>
</div>
<script>
    $.validator.addMethod("customEmail", function (value, element) {
        return /^[a-zA-Z0-9._%+-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/.test(value);
    }, "Masukkan format email yang valid.");

    $("#form_email").validate({
        errorClass: "is-invalid text-danger",
        rules: {
            EmailBaru: {
                required: true,
                email: true,
                customEmail: true,
            },
        },
        messages: {
            EmailBaru: {
                required: "Email harus diisi",
                email: "Format email tidak sesuai",
                pattern: "Masukkan email yang valid dengan format yang benar (contoh: user@example.com)"
            },
        },
        submitHandler: function (form) {
            var dataForm = $(form).serialize()
            var email = $("#EmailBaru").val()
            var id = $("#id").val()
            $("#btn_submit").prop("disabled", true);
            buttonOnLoading("#btn_submit", "Mengirim OTP...")


            $.ajax({
                url: "/UserProfil/CheckEmailIsExist",
                type: "get",
                data: { email: email },
                dataType: "json",
                success: function (respon) {
                    if (!respon) {
                        $.ajax({
                            url: "/UserProfil/CheckOTP",
                            type: "post",
                            data: { email: email, id: id },
                            dataType: "json",
                            success: function (respon) {
                                debugger
                                if (respon) {
                                    $("#modal_body").load("/UserProfil/ValidasiOTP", { email: email, id: id })
                                    $("#my_modal").modal("show")
                                }
                                else {
                                    $("#validate_email").text(`OTP Gagal Dikirim, Ulangi kembali`)
                                    $("#btn_submit").prop("disabled", false);
                                    buttonOnFinish("#btn_submit", "Ubah Email")
                                    return true
                                }
                            }
                        })
                    }
                    else {
                        $("#validate_email").text(`Email sudah terdaftar`)
                        $("#btn_submit").prop("disabled", false);
                        buttonOnFinish("#btn_submit", "Ubah Email")
                        return true
                    }
                },
                error: function (xhr, status, error) {
                    // Penanganan kesalahan saat request gagal
                    console.log(`Error: ${status} - ${error}`);
                    $("#validate_email").text("Terjadi kesalahan saat memeriksa email. Silakan coba lagi.");
                    $("#btn_submit").prop("disabled", false);
                }
            })
        }
    })
    $("#EmailBaru").on('input', function () {
        if ($("#validate_email").text()) {
            $("#validate_email").text(""); // Clear error message
        }
    });
</script>
