@using Med_341A.viewmodels
@model VMResponse;

<div class="card">
    <div class="card-body">

        <h2 class="mt-3 text-center">Reset Kata Sandi</h2>
        <p class="text-center">Masukan kode OTP yang telah dikirimkan ke email anda</p>

        <form id="form_validateOTP">
            <div class="form-group">
                <input type="number" class="form-control" id="OTP" name="OTP" placeholder="input your OTP">
                <span id="otp_validatation" class="text-danger mt-1">
                </span>
            </div>

            <div class="form-group d-flex justify-content-center text-center">
                <button type="button" id="btn_reqOTP" class="btn btn-sm btn-info border-0" disabled>
                    Kirim ulang kode OTP
                    <div id="countdown" class="d-inline" style="display: none;"></div>
                </button>
            </div>

            <div class="col-lg-12 text-center mt-5">
                <button type="submit" id="btn_submit" class="btn btn-black">
                    Konfirmasi OTP
                </button>
            </div>
            <div class="col-lg-12 text-center mt-2">
                <a class="btn_light border-0" style="cursor: pointer;"
                                      onclick="openLoginModal()">Batal</a>
            </div>
        </form>

    </div>
</div>

<script>
    startCountdown(20);


    function buttonOnLoading(idButton, text) {
        $(idButton).html(
            `<span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                     <span role="status"> ${text} </span>`
        ).prop('disabled', true);
    }

    function buttonOnFinish(idButton, text) {
        $(idButton).html(text).prop('disabled', false);
    }

    function startCountdown(duration) {
        var timer = duration, minutes, seconds;
        var interval = setInterval(function () {
            minutes = parseInt(timer / 60, 10);
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            $('#countdown').text(` (${minutes}:${seconds})`);

            timer--;
            if (timer < 0) {
                clearInterval(interval);

                $('#countdown').text("");
                $("#btn_reqOTP").prop('disabled', false);
            }
        }, 1000);
    }

    // Rerequest OTP
    $("#btn_reqOTP").click(function () {
        $("#btn_reqOTP").prop('disabled', true)
        startCountdown(20);

        $.ajax({
            url: "/ResetPassword/ReRequestOTP",
            type: "Post",
            data: { },
            dataType: "json",
            success: function (response) {
                var data = response.dataResponse
                $("#OTPValidation_info").text(data.message);
            }
        })
    })

    $("#form_validateOTP").validate({
        errorClass: "is-invalid text-danger",
        rules: {
            OTP: {
                required: true,
                minlength: 6,
                maxlength: 6,
            }
        },
        messages: {
            OTP: {
                required: "Masukan kode OTP yang telah dikirim",
                minlength: "Minimal 6 Digit",
                maxlength: "Maximal 6 Digit",
            }
        },
        submitHandler: function (form) {
            buttonOnLoading("#btn_submit", "Verifikasi kode OTP...");

            var dataForm = $(form).serialize()
            $.ajax({
                url: '/ResetPassword/VerifyOTP',
                type: 'Post',
                data: dataForm,
                datatype: 'json',
                success: function (response) {
                    var data = response.dataResponse
                    if (data.success) 
                    {
                        $("#modal_body").empty()
                        $("#modal_body").load("/ResetPassword/InputPassword")
                        $("#my_modal").modal("show")
                    }
                    else {
                        $("#otp_validatation").text(data.message)

                        buttonOnFinish("#btn_submit", "Korfimasi OTP")
                        return true
                    }

                },
                error: function (response) {
                    console.log(response)
                }
            })



        }
    })

</script>
